---
name: RSpec

on:
  push:
    branches: 
      - master
  pull_request:

jobs:
  test:
    name: "Test"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Pull docker images
        run: |
          docker-compose pull
      - uses: satackey/action-docker-layer-caching@v0.0.8
      - name: Build the latest image
        run: |
          docker build . -t typo-ci-spelling-action:latest
      - name: Run tests
        run: |
          docker run --rm -it --entrypoint rspec typo-ci-spelling-action:latest
